<div class="playlist">
  <div class="title">
    <%= artist.get("name") %>
    <span class="title-time">Performing at <%= artist.get("time") %></span>
  </div>
  <div id="playlist"></div>
</div>
<div class="footer">
  <div class="ticketing"><h5>Ticketing Policy</h5>No tickets will be sold for Yale Spring Fling; your Yale ID acts as your ticket. All Yale students (undergraduate and graduate), faculty, and staff, may attend Spring Fling for free with a valid Yale ID. Each student is allowed one guest, free of charge. Guests must be accompanied by the Yale student host to enter.
  </div>
  <div class="credits">
    <h5>Credits</h5>
    Sponsored by the Yale Bookstore
    <br/>
    Logo by Emily Monjaraz
    <br/>
    Video by Ethan Karetsky
    <br/>
    Website by Paul Fletcher-Hill
  </div>
</div>