<div class="name"><%= artist.get("name") %></div>
<div class="about"><%= artist.get("about") %></div>
<div class="playlist">
  <div class="title">Playlist</div>
  <div id="playlist"></div>
</div>
<div class="footer">Designed and built by Paul Fletcher-Hill</div>