<div class="schedule">
  <div class="title">Schedule for April 29th</div>
  <table class="schedule-table">
    <tr>
      <td class="time">2:30pm</td>
      <td class="item">Doors Open</td>
    </tr>
    <tr>
      <td class="time">2:45pm</td>
      <td class="item">Student Openers (Selected at <a target="_blank" href="https://www.facebook.com/events/232005270271319">Battle of the Bands</a>)</td>
    </tr>
    <tr>
      <td class="time">4:45pm</td>
      <td class="item"><a href="#best-coast">Best Coast</a></td>
    </tr>
    <tr>
      <td class="time">6:05pm</td>
      <td class="item"><a href="#macklemore">Grouplove</a></td>
    </tr>
    <tr>
      <td class="time">7:25pm</td>
      <td class="item"><a href="#macklemore">Macklemore & Ryan Lewis</a></td>
    </tr>
    <tr>
      <td class="time">8:45pm</td>
      <td class="item"><a href="#macklemore">RL Grime</a></td>
    </tr>
  </table>
</div>
<div class="videos">
  <div class="video" data-param="macklemore">
    <div class="video-artist">Macklemore</div>
    <div class="video-image" style="background-image: url('/assets/and-we-danced.png')"></div>
    <div class="video-name">And We Danced</div>
  </div>
  <div class="video" data-param="macklemore">
    <div class="video-artist">Macklemore</div>
    <div class="video-image" style="background-image: url('/assets/thrift-shop.png')"></div>
    <div class="video-name">Thrift Shop</div>
  </div>
  <div class="video" data-param="grouplove">
    <div class="video-artist">Grouplove</div>
    <div class="video-image" style="background-image: url('/assets/tongue-tied.png')"></div>
    <div class="video-name">Tongue Tied</div>
  </div>
  <div class="video" data-param="grouplove">
    <div class="video-artist">Grouplove</div>
    <div class="video-image" style="background-image: url('/assets/colours.png')"></div>
    <div class="video-name">Colours</div>
  </div>
</div>
<div class="footer">Designed and built by Paul Fletcher-Hill</div>