<div class="schedule">
  <div class="title">Schedule</div>
  <table class="schedule-table">
    <tr>
      <td class="time">5:00pm</td>
      <td class="item">Dinner</td>
    </tr>
    <tr>
      <td class="time">6:00pm</td>
      <td class="item">Yale Bands</td>
    </tr>
    <tr>
      <td class="time">8:00pm</td>
      <td class="item"><a href="#grouplove">Grouplove</a></td>
    </tr>
    <tr>
      <td class="time">9:30pm</td>
      <td class="item"><a href="#macklemore">Macklemore & Ryan Lewis</a></td>
    </tr>
    <tr>
      <td class="time">11:00pm</td>
      <td class="item">Toad's Afterparty</td>
    </tr>
  </table>
</div>
<div class="videos">
  <div class="video" data-param="macklemore" data-url="http://www.youtube.com/watch?v=Vhf5cuXiLTA">
    <div class="video-artist">Macklemore & Ryan Lewis</div>
    <img class="video-image" src="/assets/home.jpg"/>
    <div class="video-name">And We Danced</div>
  </div>
  <div class="video" data-param="macklemore" data-url="http://www.youtube.com/watch?v=Vhf5cuXiLTA">
    <div class="video-artist">Macklemore & Ryan Lewis</div>
    <img class="video-image" src="/assets/home.jpg"/>
    <div class="video-name">And We Danced</div>
  </div>
  <div class="video" data-param="macklemore" data-url="http://www.youtube.com/watch?v=Vhf5cuXiLTA">
    <div class="video-artist">Macklemore & Ryan Lewis</div>
    <img class="video-image" src="/assets/home.jpg"/>
    <div class="video-name">And We Danced</div>
  </div>
  <div class="video" data-param="macklemore" data-url="http://www.youtube.com/watch?v=Vhf5cuXiLTA">
    <div class="video-artist">Macklemore & Ryan Lewis</div>
    <img class="video-image" src="/assets/home.jpg"/>
    <div class="video-name">And We Danced</div>
  </div>
</div>
<div class="footer">Designed and built by Paul Fletcher-Hill</div>