<div class="home-container">
  <div class="home-header"><img src="/assets/logo-half-color.png/"></div>
</div>
<div class="schedule">
  <div class="schedule-title">Schedule for April 29th</div>
  <table class="schedule-table">
    <tr>
      <td class="time">2:00pm</td>
      <td class="item">Gates Open</td>
    </tr>
    <tr>
      <td class="time">2:15pm</td>
      <td class="item">Nero, My Panda</td>
    </tr>
    <tr>
      <td class="time">2:55pm</td>
      <td class="item">The Teaspoons</td>
    </tr>
    <tr>
      <td class="time">3:35pm</td>
      <td class="item">A Streetcar Named Funk</td>
    </tr>
    <tr>
      <td class="time">4:45pm</td>
      <td class="item"><a href="#best-coast">Best Coast</a></td>
    </tr>
    <tr>
      <td class="time">6:05pm</td>
      <td class="item"><a href="#grouplove">Grouplove</a></td>
    </tr>
    <tr>
      <td class="time">7:25pm</td>
      <td class="item"><a href="#macklemore">Macklemore & Ryan Lewis</a></td>
    </tr>
    <tr>
      <td class="time">8:45pm</td>
      <td class="item"><a href="#rl-grime">RL Grime</a></td>
    </tr>
  </table>
</div>
<div class="videos">
  <div class="video" data-param="macklemore">
    <div class="video-artist">Macklemore</div>
    <div class="video-image" style="background-image: url('/assets/thrift-shop.png')"></div>
    <div class="video-name">Thrift Shop</div>
  </div>
  <div class="video" data-param="grouplove">
    <div class="video-artist">Grouplove</div>
    <div class="video-image" style="background-image: url('/assets/colours.png')"></div>
    <div class="video-name">Colours</div>
  </div>
  <div class="video" data-param="best-coast">
    <div class="video-artist">Best Coast</div>
    <div class="video-image" style="background-image: url('http://www.fashion-stylist.net/blog/wp-content/uploads/image/best_coastbethanycosentino.jpg')"></div>
    <div class="video-name">When I'm With You</div>
  </div>
  <div class="video" data-param="rl-grime">
    <div class="video-artist">RL-Grime</div>
    <div class="video-image" style="background-image: url('http://www.elektrodaily.com/wp-content/uploads/2012/11/RL-Grime-460x330.jpg')"></div>
    <div class="video-name">Mercy</div>
  </div>
  <h5>Or watch the official <a href="#welcome">Spring Fling welcome video</a>!</h5>
</div>
<div class="footer">
  <div class="ticketing"><h5>Ticketing Policy</h5>No tickets will be sold for Yale Spring Fling; your Yale ID acts as your ticket. All Yale students (undergraduate and graduate), faculty, and staff, may attend Spring Fling for free with a valid Yale ID. Each student is allowed one guest, free of charge. Guests must be accompanied by the Yale student host to enter.
  </div>
  <div class="credits">
    <h5>Credits</h5>
    Hosted by your <a href="http://ycc.yale.edu">Yale College Council</a> and the <a href="mailto:ethan.karetsky@yale.edu">Spring Fling Committee</a>
    <br/>
    Logo by Emily Monjaraz
    <br/>
    Video by Ethan Karetsky
    <br/>
    Website by Paul Fletcher-Hill
  </div>
  <div class="sponsored">
    <h5>Sponsored by</h5>
    <a href="http://yale.bncollege.com/" target="_blank"><img src="/assets/bookstore.jpg"/></a>
  </div>
</div>