<div class="schedule">
  <div class="title">Schedule</div>
  <table class="schedule-table">
    <tr>
      <td class="time">5:00pm</td>
      <td class="item">Dinner</td>
    </tr>
    <tr>
      <td class="time">6:00pm</td>
      <td class="item">Yale Bands</td>
    </tr>
    <tr>
      <td class="time">8:00pm</td>
      <td class="item"><a href="#grouplove">Grouplove</a></td>
    </tr>
    <tr>
      <td class="time">9:30pm</td>
      <td class="item"><a href="#macklemore">Macklemore & Ryan Lewis</a></td>
    </tr>
    <tr>
      <td class="time">11:00pm</td>
      <td class="item">Toad's Afterparty</td>
    </tr>
  </table>
</div>
<div class="videos">
  <div class="video" data-param="macklemore">
    <div class="video-artist">Macklemore</div>
    <div class="video-image" style="background-image: url('/assets/and-we-danced.png')"></div>
    <div class="video-name">And We Danced</div>
  </div>
  <div class="video" data-param="macklemore">
    <div class="video-artist">Macklemore</div>
    <div class="video-image" style="background-image: url('/assets/thrift-shop.png')"></div>
    <div class="video-name">Thrift Shop</div>
  </div>
  <div class="video" data-param="grouplove">
    <div class="video-artist">Grouplove</div>
    <div class="video-image" style="background-image: url('/assets/tongue-tied.png')"></div>
    <div class="video-name">Tongue Tied</div>
  </div>
  <div class="video" data-param="grouplove">
    <div class="video-artist">Grouplove</div>
    <div class="video-image" style="background-image: url('/assets/colours.png')"></div>
    <div class="video-name">Colours</div>
  </div>
</div>
<div class="footer">Designed and built by Paul Fletcher-Hill</div>