<div class="header">
  <div class="container">
    <a href="/#" class="logo">Spring Fling 2013</a>
    <div class="select" id="dropdown">
      <div class="arrow"></div>
      <div class="selected" data-value="">Menu</div>
      <div class="options">
        <a class="option lineup" href="/#" data-param="">Home</a>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="player"><div id="player"></div></div>
  <div id="slideshow">
    <div class="slide home">
      <div class="home-container">
        <div class="home-header">Yale Spring Fling</div>
        <div class="home-subheader">April 29, 2013</div>
      </div>
    </div>
  </div>
</div>

<div class="details">
  <div class="container"></div>
</div>