<div class="header">
  <div class="container">
    <a href="/#" class="logo"><img src="/assets/logo-short.png"/></a>
    <div class="select" id="dropdown">
      <div class="arrow"></div>
      <div class="selected" data-value="">Menu</div>
      <div class="options">
        <a class="option lineup" href="/#" data-param="">Home</a>
        <a class="option lineup" href="/#apparel" data-param="apparel">Spring Fling Apparel</a>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="player"><div id="player"></div></div>
  <div id="slideshow">
    <div class="slide home">
    </div>
  </div>
</div>

<div class="details">
  <div class="container"></div>
</div>

<div id="apparel" class="closed">
  <div class="tanks">
    <div class="images"><img src="/assets/tank-front.png"/><img src="/assets/tank-back.png"/></div>
    <h1>Get your official Spring Fling 2013 gear!</h1> 
    <h2>More info and styles coming soon.</h2>
  </div>
</div>