<div class="header">
  <div class="container">
    <a href="/#" class="logo"><img src="/assets/logo-short.png"/></a>
    <div class="select" id="dropdown">
      <div class="arrow"></div>
      <div class="selected" data-value="">Menu</div>
      <div class="options">
        <a class="option lineup" href="/#" data-param="">Home</a>
        <a class="option lineup" href="/#apparel" data-param="apparel">Spring Fling Apparel</a>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="player"><div id="player"></div></div>
  <div id="slideshow">
    <div class="slide home">
    </div>
  </div>
</div>

<div class="details">
  <div class="container"></div>
</div>

<div id="apparel" class="closed">
  <div class="tanks">
    <div class="images"><img src="/assets/tank-front.png"/><img src="/assets/tank-back.png"/></div>
    <h1>Get your official Spring Fling 2013 gear!</h1> 
    <h2>More info and styles coming soon.</h2>
    <br/>
    <div class="footer">
      <div class="ticketing"><h5>Ticketing Policy</h5>No tickets will be sold for Yale Spring Fling; your Yale ID acts as your ticket. All Yale students (undergraduate and graduate), faculty, and staff, may attend Spring Fling for free with a valid Yale ID. Each student is allowed one guest, free of charge. Guests must be accompanied by the Yale student host to enter.
      </div>
      <div class="credits">
        <h5>Credits</h5>
        Hosted by your <a href="http://ycc.yale.edu">Yale College Council</a> and the <a href="mailto:ethan.karetsky@yale.edu">Spring Fling Committee</a>
        <br/>
        Logo by Emily Monjaraz
        <br/>
        Video by Ethan Karetsky
        <br/>
        Website by Paul Fletcher-Hill
      </div>
      <div class="sponsored">
        <h5>Sponsored by</h5>
        <a href="http://yale.bncollege.com/" target="_blank"><img src="/assets/bookstore.jpg"/></a>
      </div>
    </div>
  </div>
</div>