<div id='welcome'>
  <div id='welcome-close'></div>
  <iframe width="<%= width %>" height="<%= height %>" src="http://www.youtube.com/v/<%= url %>?disablekb=1&autoplay=1&showinfo=0&controls=0&modestbranding=1&version=3" frameborder="0" allowfullscreen></iframe>
</div>