//Fonts
@font-face { font-family: FuturaStd-Book; src: url('/assets/FuturaStd-Book.otf'); } 
@font-face { font-family: FuturaStd-Heavy; src: url('/assets/FuturaStd-Heavy.otf'); }
@font-face { font-family: FuturaStd-Light; src: url('/assets/FuturaStd-Light.otf'); }

@mixin HN-Light {
  font-family: FuturaStd-Light, Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: lighter;
}
@mixin HN-Bold {
  font-family: FuturaStd-Heavy, Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
}
@mixin HN-Regular {
  font-family: FuturaStd-Book, Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
}

@mixin transition($x) {  transition: #{$x};
  -moz-transition: #{$x};
  -webkit-transition: #{$x};
  -o-transition: #{$x};
}

@mixin calc($attribute, $x) {
  #{$attribute}: -moz-calc(#{$x});
  #{$attribute}: -webkit-calc(#{$x});
  #{$attribute}: -o-calc(#{$x});
  #{$attribute}: calc(#{$x});
}