// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins";

$header-height: 80px;
$content-height: 60%;
$width: 960px;

// General
body {
  padding: 0;
  margin: 0;
  @include HN-Regular;
  background: #f0f0f0;
}

.header, .content, .details {
  width: 100%;
  position: fixed;
  left: 0;
  min-width: $width;
}

.container {
  width: $width;
  margin: auto;
  position: relative;
}

// Header
.header {
  height: $header-height;
  top: 0;
  z-index: 100;
  .logo {
    @include HN-Bold;
    color: white;
    font-size: 50px;
    text-decoration: none;
    line-height: 80px;
    @include transition(0.2s);
    opacity: 1;
    img {
      height: 50px;
      margin-top: 15px;
      @include transition(0.2s);
    }
    &:hover {
      opacity: 0.8;
    }
    &:hover {
      color: yellow;
    }
    &.hidden {
      opacity: 0;
    }
  }
  .select {
    position: absolute;
    top: 15px;
    right: 0;
    height: 50px;
    width: 300px;
    padding: 0 15px;
    opacity: 0.85;
    border: 1px solid white;
    background: transparent;
    cursor: pointer;
    @include HN-Light;
    color: white;
    @include transition(0.3s);
    &.dark {
      background: black;
    }
    &.light {
      border: 1px solid black;
      color: black;
      opacity: 1;
      .arrow {
        border-top: 15px solid black;
        &.open {
          border-top: 15px solid black;
          border-bottom: 0px;
        }
      }
      .selected {
        border-right: 1px solid black;
      }
      .options {
        z-index: 900;
        background: transparent;
        border: 1px solid black;
        .option {
          border-bottom: 1px solid black;
          color: black;
          &:hover {
            background: #eee;
            opacity: 0.7;
          }
        }
      }
    }
    &.apparel {
      .options {
        background: white;
        opacity: 0.9;
      }
    }
    .arrow {
      width: 0; 
      height: 0; 
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 15px solid white;
      position: absolute;
      top: 18px;
      right: 15px;
      @include transition(border-color 0.2s);
      &.open {
        border-top: 0px;
        border-bottom: 15px solid white;
      }
    }
    .selected {
      line-height: 50px;
      font-size: 20px;
      width: 265px;
      border-right: 1px solid white;
      @include HN-Regular;
    }
    .options {
      display: none;
      position: absolute;
      top: 50px;
      left: -1px;
      width: 300px;
      background: black;
      margin: 0;
      padding: 0;
      border: 1px solid white;
      width: 330px;
      .option {
        display: block;
        width: 300px;
        border-bottom: 1px solid #dadada;
        padding: 0 15px;
        text-decoration: none;
        color: white;
        line-height: 50px;
        font-size: 20px;
        @include HN-Regular;
        @include transition(0.2s);
        &:last-child {
          border: none;
        }
        &:hover {
          background: #222;
        }
        .time {
          width: 50px;
          @include HN-Light;
        }
      }
    }
  }
}

// Hover-overs
#apparel, #welcome {
  height: 100%;
  width: 100%;
  padding-bottom: 30px;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  @include transition(1s);
  &.hidden, &.closed {
    opacity: 0;
    height: 0;
    width: 0;
  }
}

// Apparel
#apparel {
  @include transition(0s);
  background: #fafafa;
  z-index: 99;
  overflow: scroll;
  .tanks {
    width: $width;
    margin: auto;
    img {
      width: 50%;
    }
    text-align: center;
    h1 {
      @include HN-Bold;
      font-size: 40px;
    }
    h2 {
      @include HN-Light;
    }
  }
}
.order-link {
  background: #47A3FF;
  display: block;
  color: white;
  width: 400px;
  margin: auto;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  margin-top: 35px;
  @include transition(0.2s);
  &:hover {
    background: #2E8AE6;
  }
}

// Welcome
#welcome {
  background: black;
  z-index: 999;
}
#welcome-close {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 20px;
  right: 20px;
  opacity: 0.5;
  cursor: pointer;
  background-image: url("/assets/close.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  @include transition(0.2s);
  &:hover {
    opacity: 0.9;
  }
}

// Content
.content {
  @include calc(height, "#{$content-height} + #{$header-height}");
  top: 0;
  background: black;
  overflow: hidden;
  #player {
    background: black;
    margin: auto;
    position: relative;
    @include transition(margin 0.2s);
  }
  #slideshow {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    @include transition(opacity 0.5s);
    &.playing {
      opacity: 0;
      z-index: -1;
    }
  }
  .slide {
    width: 100%;
    height: 100%;
    background-size: 100%;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
  }
  .home {
    background-position: bottom;
    background-image: url("/assets/party.jpg");
  }
}
.home-container {
  width: $width;
  position: absolute;
  top: -300px;
}
.home-header, .home-subheader {
  color: white;
  font-size: 3.75em;
  line-height: 120%;
  width: 440px;
  //background: #3399FF;
  opacity: 0.85;
  padding: 0 10px;
}
.home-header {
  @include HN-Bold;
  padding-top: 10px;
  img {
    width: 98%;
  }
}
.home-subheader {
  @include HN-Light;
  padding-bottom: 10px;
}

// Details
.details {
  background: #f0f0f0;
  position: absolute;
  @include calc(top, "#{$content-height} + #{$header-height}");
  .name {
    @include HN-Bold;
    border-bottom: 1px solid black;
    padding: 20px 0 10px 0;
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 40px;
    width: 600px;
  }
  .about {
    width: 600px;
    font-size: 15px;
    line-height: 20px;
    @include HN-Light;
  }
}
.footer {
  clear: both;
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #dadada;
  color: #777;
  @include HN-Light;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  height: 150px;
  h5 {
    margin: 0;
    margin-bottom: 10px;
    @include HN-Bold;
  }
  .ticketing, .credits, .sponsored {
    text-align: left;
    line-height: 16px;
    float: left;
  }
  .ticketing {
    width: 460px;
    margin-right: 30px;
  }
  .sponsored {
    width: 140px;
    margin-right: 30px;
    img {
      width: 130px;
      opacity: 0.8;
    }
  }
  .credits {
    width: 205px;
    margin-right: 15px;
    a {
      color: #777;
    }
  }
}

// Playlist
.title {
  @include HN-Bold;
  font-size: 40px;
  line-height: 40px;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  margin-bottom: 15px;
  margin-top: 10px;
  .title-time {
    float: right;
    font-size: 20px;
    line-height: 40px;
    vertical-align: middle;
    @include HN-Light;
  }
}
.playlist {
  position: relative;
  top: -30px;
  left: 0px;
  width: 930px;
  min-height: 100px;
  border: 1px solid #dadada;
  background: white;
  padding: 15px;
  padding-bottom: 25px;
  .track {
    margin: 5px 0;
    span {
      vertical-align: top
    }
    margin-right: 9px;
    &:nth-child(4n+0) {
      margin-right: 0px;
    }
    position: relative;
    display: inline-block;
    height: 160px;
    width: 222px;
    @include transition(opacity 0.2s);
    background: black;
    &:hover {
      opacity: 0.8;
      .play-icon {
        opacity: 1;
      }
    }
    .video-artist, .video-name {
      position: absolute;
      left: 10px;
      color: white;
    }
    .video-artist {
      bottom: 35px;
      font-size: 12px;
      text-transform: uppercase;
      @include HN-Bold;
    }
    .video-name {
      bottom: 10px;
      font-size: 18px;
      @include HN-Light;
    }
    .video-image {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: center;
    }
  }
  .play-icon {
    width: 50px;
    height: 50px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;
    opacity: 0;
    background-image: url("/assets/play-button.png");
    &:hover {
      opacity: 1;
    }
    &.playing {
      background-image: url("/assets/pause-button.png");
      opacity: 1;
    }
  }
}

//Home
.schedule {
  float: left;
  width: 428px;
  min-height: 100px;
  border: 1px solid #dadada;
  z-index: 100;
  background: white;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  .schedule-title {
    @include HN-Bold;
    font-size: 20px;
    line-height: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 2px;
    margin-top: 5px;
  }
}
.schedule-table {
  width: 100%;
  tr {
    border-bottom: 1px solid #777;
  }
  border-collapse: collapse;
  td {
    padding: 10px 0;
    @include HN-Regular;
    a {
      color: black;
      text-decoration: none;
      @include HN-Bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .time {
    width: 80px;
    @include HN-Light;
  }
}

.videos {
  float: right;
  width: 470px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.video {
  display: inline-block;
  position: relative;
  width: 48.5%;
  margin-bottom: 10px;
  cursor: pointer;
  @include transition(opacity 0.2s);
  &:hover {
    opacity: 0.8;
  }
  &:nth-child(odd) {
    margin-right: 9px;
  }
  .video-artist, .video-name {
    position: absolute;
    left: 5px;
    color: white;
  }
  .video-artist {
    bottom: 35px;
    font-size: 12px;
    text-transform: uppercase;
    @include HN-Bold;
  }
  .video-name {
    bottom: 10px;
    font-size: 18px;
    @include HN-Light;
  }
  .video-image {
    width: 100%;
    height: 120px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
}