<!DOCTYPE html>
<html>
<head>
  <title>Yale Spring Fling 2013</title>
  <meta property="og:title" content="Yale Spring Fling 2013"/>
  <meta property="og:url" content="http://yalespringfling2013.com"/>
  <meta property="og:image" content="http://yalespringfling2013.com/assets/fb-logo.png"/>
  <meta property="og:description"
            content="Yale Spring Fling 2013 Lineup, featuring Macklemore & Ryan Lewis, Grouplove, Best Coast and RL Grime. Spring Fling will be held on April 29th at Yale University."/>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '515410ff108d7b2d5400002d');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
</body>
</html>
